.wrap {
  width: 100%;
  position: relative;
}
.wrap .bg {
  background-image: url(../../../public/images/b05fec37909f3c46d8ada73ba1d2bc2f8868e869.jpg);
  filter: blur(15px);
  -webkit-filter: blur(15px);
  transform: scale(1.02);
}
.wrap .article {
  padding: 60px 0;
  width: 100%;
  background-image: url(../../../public/images/bg-movie-detail-pattern.png);
  position: absolute;
  top: 0;
  color: white;
}
.wrap .article h2 {
  font-size: 40px;
  text-align: center;
}
.wrap .article > input {
  display: block;
  margin: 40px auto;
  border: 2px solid #503396;
  width: 500px;
  height: 30px;
}
.wrap .article > input:focus {
  outline: none;
}
.wrap .article .btnWrap {
  width: 1100px;
  margin: auto;
  padding-bottom: 20px;
}
.wrap .article .btnWrap button {
  cursor: pointer;
  background: none;
  height: 40px;
  width: 120px;
  font-size: 16px;
  line-height: 40px;
  border: 1px solid white;
  box-sizing: border-box;
  background: #503396;
  color: white;
}
.wrap .article .btnWrap button:hover {
  background: black;
  color: white;
}
.wrap .article .btnWrap h3 {
  margin-top: 10px;
}
.wrap .article .BoxOffice {
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 30px;
  margin: auto;
}
.wrap .article .BoxOffice .BoxOffice-item {
  margin-right: 40px;
  margin-bottom: 40px;
  width: 245px;
  position: relative;
}
.wrap .article .BoxOffice .BoxOffice-item:hover .BoxOffice-info {
  display: block;
}
.wrap .article .BoxOffice .BoxOffice-item .BoxOffice-img {
  width: 245px;
}
.wrap .article .BoxOffice .BoxOffice-item:nth-child(4n) {
  margin-right: 0;
}
.wrap .article .BoxOffice .BoxOffice-item .BoxOffice-name {
  width: 200px;
  white-space: nowrap;
}
.wrap .article .BoxOffice .BoxOffice-item .BoxOffice-name img {
  width: 20px;
  vertical-align: middle;
}
.wrap .article .BoxOffice .BoxOffice-item .BoxOffice-name span {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 600;
  vertical-align: middle;
}
.wrap .article .BoxOffice .BoxOffice-item .BoxOffice-info {
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  height: 142px;
  overflow: hidden;
  font-size: 15px;
  padding: 20px;
  color: white;
  height: 350px;
  box-sizing: border-box;
}
.wrap .article .BoxOffice .BoxOffice-item .BoxOffice-info span {
  max-width: 100%;
  text-overflow: ellipsis;
}
.wrap .article .BoxOffice .BoxOffice-item .BoxOffice-info span:nth-child(1) {
  display: block;
  margin-bottom: 22px;
}
.wrap .article .BoxOffice .BoxOffice-item .BoxOffice-per_date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wrap .article .BoxOffice .BoxOffice-item .BoxOffice-per_date strong {
  font-weight: 600;
}
.wrap .article .BoxOffice .BoxOffice-item .like {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wrap .article .BoxOffice .BoxOffice-item .like button {
  cursor: pointer;
  background: none;
  height: 40px;
  width: 120px;
  font-size: 16px;
  line-height: 40px;
  border: 1px solid white;
  box-sizing: border-box;
  background: #000;
  color: white;
}
.wrap .article .BoxOffice .BoxOffice-item .like button:nth-child(2) {
  background: #503396;
  color: white;
  border: none;
}
.wrap .popUp {
  width: 1000px;
  color: black;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.wrap .popUp .popUpInner {
  position: relative;
}
.wrap .popUp .popUpInner .popUpbg {
  background: url("../../../public/images/img-theater-mx-view01.png");
  width: 1000px;
  height: 752px;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  filter: blur(3px);
}
.wrap .popUp .popUpInner .popUpContent {
  position: absolute;
  top: 0;
  display: flex;
  padding: 70px;
  width: 1000px;
  height: 752px;
  box-sizing: border-box;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50px;
}
.wrap .popUp .popUpInner .popUpContent .popUpLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrap .popUp .popUpInner .popUpContent .popUpLeft .popUpLeft_top {
  word-break: keep-all;
  width: 610px;
}
.wrap .popUp .popUpInner .popUpContent .popUpLeft .popUpLeft_top h3 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}
.wrap .popUp .popUpInner .popUpContent .popUpLeft .popUpLeft_top strong {
  font-size: 20px;
  font-weight: 600;
  display: block;
  margin-bottom: 20px;
}
.wrap .popUp .popUpInner .popUpContent .popUpLeft .popUpLeft_top span {
  font-size: 16px;
  display: block;
  word-wrap: normal;
}
.wrap .popUp .popUpInner .popUpContent .popUpLeft .popUpLeft_bottom {
  display: flex;
  font-size: 18px;
  box-sizing: border-box;
  text-align: center;
}
.wrap .popUp .popUpInner .popUpContent .popUpLeft .popUpLeft_bottom span {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}
.wrap .popUp .popUpInner .popUpContent .popUpLeft .popUpLeft_bottom span strong {
  font-weight: 600;
}
.wrap .popUp .popUpInner .popUpContent .popUpLeft .popUpLeft_bottom span strong i {
  margin-right: 10px;
}
.wrap .popUp .popUpInner .popUpContent .popUpRight {
  height: auto;
}
.wrap .popUp .popUpInner .popUpContent .popUpRight button {
  cursor: pointer;
  background: none;
  height: 40px;
  width: 245px;
  font-size: 16px;
  line-height: 40px;
  border: none;
  box-sizing: border-box;
  background: #503396;
  color: white;
}
.wrap .popUp .popUpInner .popUpContent .popUpRight button:hover {
  background: black;
  color: white;
}
.wrap .popUp .btnCloseWrap {
  position: absolute;
  font-size: 30px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */